* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h5 {
    font-family: 'Playfair Display', serif;
}

body {
    background-color: white;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    color: black;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    color: crimson;
}

h3 {
    text-align: center;
}

h3.color{
    color: crimson;
}

.images {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-size: 2em;
    font-weight: 200;
}

ul,
ol {
    margin-left: 80px;
    padding: 40px;
}
